.testimonials_section{
    width: 100%;
    .main_testimonialarea{
        width: 100%;
        padding: 0 40px;
        .testimonial_item{
            width: 100%;
            box-shadow: rgba(208,208,208,.75) 0 0 22px;
            background-color: var(--primary-color);
            padding: 56px 32px 40px 32px;
            min-height: 321px;
            p{
                font-size: 15px;
                line-height: 29px;
                color: #525252;
            }
            .client_area{
                width: 100%;
                margin-top: 20px;
                img{
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    margin-right: 20px;
                }
                h3{
                    font-size: 16px;
                    margin-bottom: 2px;
                }
                span{
                    &.posi{
                        color: #525252;
                        font-size: 12px;
                    }
                }
            }
        }
        .owl-item{
            padding: 30px 15px;
        }
        .owl-nav{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 32px;
            button{
                width: 43px;
                height: 43px;
                background-color: var(--primary-color);
                border: #dadada 2px solid;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media only screen and (max-width:350px){
    .testimonials_section{
        .main_testimonialarea{
            padding: 0;
        }
    }
}